//tools
@import "_misc/mixins";
@import "_misc/normalize";
//fonts

@import "fonts";

//partials
@import "portfolio/portfolio";

* {
  @include box-sizing(border-box);

}

html, body {
  width: 100%;
  line-height: 1.42;
  position: relative;
  font-family: 'ProximaNova-Regular';
}

.index__screen{
  position: relative;
  width: 100vw;
  height: 100vh;

  @include phones {
    height: 100%;
  }

  &-1{
    background: url('../img/index_1d.jpg') no-repeat;
    background-size: cover;
  }

  &-2{
    background: url('../img/index_2d.jpg') no-repeat;
    background-size: cover;

    @include phones {
      background: url('../img/index_2d.jpg') no-repeat bottom;
      background-size: cover;
    }

  }

  &-3 {
    background: #232323;
  }

  &-4 {
    background: #ffffff;
    position: relative;

    //@include phones{
    //  height: 931px;
    //  background: url("../img/Working-process-scheme-web-mob.jpg");
    //  background-size: cover;
    //}

  }

  &-5 {
    background: #232323;
  }
}

.logo__link{
  position: absolute;
  left: 3%;
  top: 45px;
  cursor: pointer;
  z-index: 1;

  & img{
    max-width: 100%;
    height: auto;
  }

  @include phones {
    top: 20px;
    right: 5%;
    left: 40%;
  }

}

.header__index{
  flex: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.works__link{
  background: black;
      font-family: 'ProximaNova-Semibold';
      font-size: 16px;
      font-weight: 100;
      letter-spacing: -0.7px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      border: 1px solid white;
      padding: 9px 32px;
  transition: all 0.5s;

  @include phones {
    padding: 3vw 9vw;
    margin-right: 3vw;
  }

    &-white{
      color: #454545;
      border: 1px solid black;
      background: white;
    }

  &-active {
    color: #454545;
    border: none;
    text-decoration: line-through;
    background: white;
  }

  }

.contact__link{
  font-family: 'ProximaNova-Semibold';
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -0.7px;
  text-align: center;
  color: #343434;
  text-decoration: none;
  background: white;
  padding: 10px 32px;
  transition: all 0.5s;

  @include phones {
    padding: 3vw 9vw;
  }

  &-black{
    background-color: #454545;
    color: #eeeeee;
  }

  &-active {
    color: #eeeeee;
    text-decoration: line-through;
    background: black;
    border: none;
  }
}

.main__nav{
  position: fixed;
  right: 50px;
  top: 48px;
  z-index: 5;
  min-width: 300px;

  @include phones {
    min-width: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-close {
    display: none;
  }

  @include phones {
    right: 0;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);
  }

  &-mobhd {
    @include phones {
      display: none;
    }

  }

}

.menu__popup {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #232323;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu__popup-sec {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #232323;
  z-index: 52;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu__popup-open {
  display: flex;
  position: fixed;

  @include phones {
    flex-direction: column;
  }

}

.menu__popup-nav {

  & ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & ul {
    display: flex;
    flex-direction: row;

    @include phones {
      display: block;
      font-size: 0;
      width: 72vw;
    }
    
  }

  & li {
    @include phones {
      display: inline-block;
      width: 36vw;
      height: 36vw;
    }
  }
}

.menu__popup-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-decoration: none;
  height: 15vw;
  width: 15vw;
  border: solid 1px #bbbbbb;
  padding-bottom: 10%;
  padding-left: 15%;

  & p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #eeeeee;
    margin-top: 8%;
  }

  &:hover {
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(135deg, #00e8ef, #00d8ff);
    border-image-slice: 1;

    & p {
      color: #00e8ef;
    }

    & .st0 {
      fill: #00e8ef;
    }
  }

  @include phones {
    width: 100%;
    height: 100%;
    padding-left: 10%;
  }
}

.menu__popup-link-active {
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(135deg, #00e8ef, #00d8ff);
  border-image-slice: 1;

  & p {
    color: #00e8ef;
  }

  & .st0 {
    fill: #00e8ef;
  }

}

.main__index{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 11%;

  @include phones {
    padding: 4%;
  }

}

.main__price {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

.main__contacts {
  background: black;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: flex-end;

  @include phones {
    height: 100%;
  }

}

.main__portfolio {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  padding-bottom: 150px;

  @include phones {
    padding-bottom: 15px;
  }
}


.main__contacts-content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 60%;
  margin-right: 11%;
  padding-bottom: 50px;

  @include phones {
    width: 100%;
    margin-right: 0;
  }
}

.main__portfolio-content {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
}

.main__price-content {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
}

.number__img {
  position: absolute;
  bottom: -6px;
  left: 16%;

  @include phones {
    left: 4%;
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  &-5 {

    @include phones {
      bottom: 0;
    }

  }
}

.slide__menu-btn{
  flex: 150;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.main__index-content{
  flex: 1140;
  padding-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &2{
    padding-right: 4%;
  }

  &5 {
    padding-left: 18%;

    @include phones {
      padding-left: 0;
    }

  }
}


.title__index{
  font-family: 'ProximaNova-Black';
  font-size: 8vw;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  padding: 0;
  margin: 0;

  @include phones {
    font-size: 14vw;
    margin-bottom: 47%;
  }

  &-black{
    color: #131313;
    text-align: right;

    @include phones {
      margin-bottom: 5%;
    }
  }

  &-1 {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    margin-bottom: 0;
  }

  &-3 {
    color: #4a4a4a;
    text-align: right;
    margin-right: 7%;

    @include phones {
      margin-right: 0;
      margin-bottom: 0;
    }

  }

  &-4 {
    margin-bottom: 15px;

    @include phones {
      position: absolute;
      top: 120px;
      left: 10px;
      right: 10px;
    }
  }

  &-5 {
    color: #4a4a4a;

    @include phones {
      margin-bottom: 0;
      margin-top: 158px;
      margin-left: 2%;
    }

  }

  &-portfolio {
    text-align: center;
    color: black;

    @include phones {
      margin-bottom: 0;
      text-align: left;
      margin-left: 10%;

    }
  }

  &-contacts {
    font-size: 7vw;
    line-height: 1;
    color: #4a4a4a;
    text-align: left;
    margin-left: auto;

    @include phones {
      font-size: 14vw;
      text-align: center;
      margin-left: 0;
      margin-bottom: 4%;
      padding: 0 5%;
    }
  }
}

.main__index-socials{
  position: fixed;
  z-index: 1;
  right: 1%;
  top: 50%;
  transform: translateY(-34%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;

  & a{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.7px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 120px;
    display: block;
    -moz-transform: rotate(90deg); /* ��� Firefox */
    -ms-transform: rotate(90deg); /* ��� IE */
    -webkit-transform: rotate(90deg); /* ��� Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* ��� Opera */
    transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &-black{
    & a{
      color: black;
    }
  }

  @include phones {
    display: none;
  }
}

.sec__index-socials {
  position: absolute;
  top: 50vh;
  right: 2%;
  transform: translateY(-34%);

  & a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.7px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 120px;
    display: block;
    -moz-transform: rotate(90deg); /* ��� Firefox */
    -ms-transform: rotate(90deg); /* ��� IE */
    -webkit-transform: rotate(90deg); /* ��� Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* ��� Opera */
    transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &-black {
    & a {
      color: black;
    }
  }

  &-mobhd {
    @include phones {
      display: none;
    }
  }
}

.sec__nav {
  position: fixed !important;
  z-index: 100 !important;
  top: 50vh;
  left: -1%;
  transform: translateY(-50%);

  @include phones {
    transform: translateY(0);
  }

}

.index__textblock{
  width: 43%;
  margin-left: auto;
  margin-top: 60px;

  @include phones {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 19%;

    & p {
      letter-spacing: -0.7px;
      line-height: 6vw;
    }
  }

}

.index__logoblock {
  margin-left: auto;
  margin-right: 7%;
  margin-top: 35px;
  width: 44%;
  display: flex;
  flex-flow: row wrap;

  @include phones {
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    padding-bottom: 20%;
  }

}

.index__logo {
  flex: 33%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & img {
    max-width: 100%;
    height: auto;
  }

  & p {
    font-size: 16px;
    text-align: center;
    color: #eeeeee;
    padding: 0;
    margin: 0;
  }
}

.index__process {
  text-align: right;
  margin-bottom: 72px;

  & img {
    max-width: 100%;
    height: auto;
  }

  @include phones {
    display: none;
  }
}

.bottom__overlay {
  position: absolute;
  bottom: -20px;
  z-index: 1;
  opacity: 0.5;

  & img {
    width: 100%;
    height: auto;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;

  @include phones {
    margin-top: 50px;
    min-height: 320px;
    order: 1;
  }

}

.contact__header {
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-align: left;
  color: #ffffff;
}

.contact__appear {
  font-style: normal;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin-top: 20px;

  @include phones {
    margin-top: 0;
  }
}

.contact__city, .contact__tel, .contact__email {
  font-style: normal;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #dedede;

  @include phones {
    font-size: 20px;
    line-height: 2;
  }
}

.contact__city {
  margin-top: 25px;

}

.contacts__block {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include phones {
    flex-flow: row wrap;
    margin-top: 69px;
  }

  &-price {
    background: black;
    padding: 50px 7% 50px 19%;

    @include phones {
      padding: 36px 0 20px 13%;
    }
  }

  &-contacts {
    margin-top: 50px;
    padding: 0 8%;

    @include phones {
      margin-top: 40px;
    }
  }
}

.contacts__form {
  width: 70%;

  @include phones {
    width: 100%;
  }
}

.contacts__form-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.7px;
  color: #ffffff;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-flow: row wrap;
}

.form-group {
  position: relative;
  flex: 50%;

  @include phones {
    flex: 100%;

  }

  & input, textarea {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #999999;

  }
}

.form-group-email {
  @include phones {
    margin-top: 20px;
  }
}

.form-group-textarea {
  flex: 100%;
  margin-top: 50px;
}

.form-control, .form-label, .form-control-textarea {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #ababab;
  transition: all 0.5s;
}

.form-control {
  width: 70%;

  @include phones {
    width: 60%;
  }

}

.form-label {
  position: absolute;
  left: 0;
}

.textarea-label {
  position: absolute;
  left: 0;
  bottom: 61px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #ababab;
}

.form-control-textarea {
  width: 85%;
}

.form-control:valid + label, .form-control:focus + label {
  font-size: 10px;
  bottom: 15px;
}

.form-control-textarea:valid + label, .form-control-textarea:focus + label {
  font-size: 10px;
}

::-webkit-input-placeholder {
  color: #ababab !important;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #ababab !important;
}

:-ms-input-placeholder {
  color: #ababab !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: #ababab !important;
}

.form__submit {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ffffff;
  border: solid 2px #ffffff;
  background: transparent;
  padding: 8px 32px;
  margin-top: 15px;

  @include phones {
    padding: 8px 69px;
  }

}

.cmn-toggle-switch {
  position: absolute;
  z-index: 100 !important;
  color: white;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 108px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;

}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch-white {

  & span {
    background: black !important;

    &::before {
      background-color: black !important;
    }

    &::after {
      background-color: black !important;
    }
  }
}

.active > span {

  &::before {
    background-color: white !important;
  }

  &::after {
    background-color: white !important;
  }

}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 45px;
  left: 50px;
  right: 18px;
  height: 3px;
  background: white;
  border-radius: 3px;
  z-index: 51;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  border-radius: 3px;

}

.cmn-toggle-switch span::before {
  top: -12px;
  width: 85%;
}

.cmn-toggle-switch span::after {
  bottom: -12px;
  width: 60%;
}

/**
* Стиль 2
*
* «Гамбургер» превращается в «x» (класс htx).
* Берется исходное состояние, затем полоски плавно перемещаются в центр
* и трансформируются в «x».
*/
.cmn-toggle-switch__htx {
  position: fixed;
  background-color: transparent;
  top: 50%;

  @include phones {
    top: -1%;
    left: -7%;
  }

}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

/* активное состояние, т.е. меню открыто */
.cmn-toggle-switch__htx.active {
  background-color: transparent;
}

.cmn-toggle-switch__htx.active span {
  background: none !important;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
  width: 110%;
}

//////////////  portfolio

.portfolio__demo-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin-left: 18%;
  margin-top: 8vh;

  @include phones {
    width: 90%;
    margin: 0 4% 0 6%;
    margin-top: 4vh;
  }
}

.portfolio__demo-item {
  padding: 0;
  margin: 0;
  flex: 30%;
  max-width: 30%;
  margin-right: 3%;
  margin-bottom: 8px;
  position: relative;

  & img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  @include phones {

    flex: 46%;
    max-width: 46%;
    margin-right: 4%;
    display: flex;
    align-items: baseline;
  }
}

.portfolio__hover-block {
  background: rgba(0, 0, 0, 0.84);
  text-decoration: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;

}

.portfolio__demo-title {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
  color: #ffffff;
  text-align: center;
}

.portfolio__demo-descr {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ffffff;
}

.portfolio__demo-item:hover .portfolio__hover-block {
  opacity: 1;
}

.portfolio__item-contacts {
  padding: 4vw 0;
  background-color: #343434;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include phones {
    min-height: 18vh;
  }
}

.portfolio__contacts-title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: #f8f8f8;
  margin-bottom: 10px;

  @include phones {
    font-size: 14px;

  }
}

.portfolio__contacts-link {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-color: #7ed321;
  padding: 10px 33px;
  cursor: pointer;

  @include phones {
    font-size: 12px;
    padding: 5px 18px;
  }
}

.price__descr {
  font-size: 16px;
  color: #343434;
  margin-left: 50%;
  margin-right: 15%;
  margin-top: 35px;

  @include phones {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.price__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  margin: 0 10% 0 15%;

  & ul, li, p, span, h4, h3 {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @include phones {
    width: 84%;
    margin: 0 7% 0 7%;
  }

}

.price__item {
  flex: 50%;
  padding: 50px 5% 10px !important;

  @include phones {
    flex: 100%;
  }
}

.price__item-title {
  font-size: 2.9vw;
  font-weight: bold;
  letter-spacing: -1.5px;
  color: #bbbbbb;
  margin-bottom: 15px !important;

  @include phones {
    font-size: 7.6vw;
  }
}

.price__position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.price__position-title {
  font-size: 1.5vw;
  color: #343434;

  @include phones {
    font-size: 3.8vw;
  }
}

.from {
  font-size: 1vw;
  text-align: right;
  color: #bbbbbb;
  margin-left: auto !important;

  @include phones {
    font-size: 3vw;
  }
}

.price__value {
  width: 20%;
  font-size: 1.7vw;
  text-align: right;
  color: #454545;
  text-align: right;

  @include phones {
    font-size: 4.6vw;
  }
}

.contacts__slider {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    padding: 0;
    margin: 0;
    font-family: 'ProximaNova-Black';
    font-size: 7vw;
    font-weight: 900;
    line-height: 1;
    color: #4a4a4a;
    text-align: right;

    @include phones {
      font-size: 14vw;
      text-align: center;
    }
  }
}


////////////////////

.mob__scheme {

  display: none;
  width: 100%;

  & img {
    width: 100%;
    height: auto;
    margin-top: 210px;
  }

  @include phones {
    display: block;
  }

}

.menu__mob-socials {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.7px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-top: 5vh;
  }

  @include phones {
    display: flex;
  }

}

.mobhd {
  @include phones {
    display: none;
  }
}

.contactmob_question {
  font-family: ProximaNova-Black;
  font-style: normal;
  font-size: 17vw;
  font-weight: 900;
  line-height: 1;
  color: #4a4a4a;
  margin-bottom: 8vh;
  display: none;

  @include phones {
    display: block;
  }
}

.portfoliomob__nav {
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
}

.portfolionav__arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 80;
}

.arrow__left {
  display: none;
  text-decoration: none;
  color: white;
  font-size: 18vw;
  padding: 0;
  margin: 0;

  @include tablets {
    display: flex;
  }
}

.arrow__right {
  display: none;
  text-decoration: none;
  color: white;
  font-size: 18vw;
  padding: 0;
  margin: 0;
  margin-left: 25%;

  @include tablets {
    display: flex;
}

}

.portfolionav__close {
  display: none;

  justify-content: center;
  align-items: center;
  flex: 20;
  text-decoration: none;
  color: white;
  font-size: 18vw;
  padding-top: 8px;

  @include tablets {
    display: flex;
  }
}

