//tools
@import "_misc/mixins";
@import "_misc/normalize";
//fonts

@import "fonts";

//partials

* {
  @include box-sizing(border-box);

}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.42;
  position: relative;
  font-family: 'ProximaNova-Regular';
}

.index__screen{
  position: relative;
  width: 100vw;
  height: 100vh;

  &-1{
    background: url('../img/index_1d.jpg') no-repeat;
    background-size: cover;
  }

  &-2{
    background: url('../img/index_2d.jpg') no-repeat;
    background-size: cover;
  }

  &-3 {
    background: #232323;
  }

  &-4 {
    background: #ffffff;
  }

  &-5 {
    background: #232323;
  }
}

.logo__link{
  position: absolute;
  left: 3%;
  top: 45px;

  & img{
    max-width: 100%;
    height: auto;
  }

}

.header__index{
  flex: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.works__link{

      font-family: 'ProximaNova-Semibold';
      font-size: 16px;
      font-weight: 100;
      letter-spacing: -0.7px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      border: 1px solid white;
      padding: 9px 32px;
  transition: all 0.5s;

    &-white{
      color: #454545;
      border: 1px solid black;
    }

  &-active {
    color: #454545;
    border: none;
    text-decoration: line-through;
  }

  }

.contact__link{
  font-family: 'ProximaNova-Semibold';
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -0.7px;
  text-align: center;
  color: #343434;
  text-decoration: none;
  background: white;
  padding: 10px 32px;
  transition: all 0.5s;

  &-black{
    background-color: #454545;
    color: #eeeeee;
  }
}

.main__nav{
  position: fixed;
  right: 50px;
  top: 48px;
  z-index: 5;

  &-close {
    display: none;
  }
}

.menu__popup {

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #232323;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu__popup-open {
  display: flex;
}

.menu__popup-nav {
  & ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & ul {
    display: flex;
    flex-direction: row;
  }
}

.menu__popup-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-decoration: none;
  height: 15vw;
  width: 15vw;
  border: solid 1px #bbbbbb;
  padding-bottom: 10%;
  padding-left: 15%;

  & p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #eeeeee;
    margin-top: 8%;
  }

  &:hover {
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(135deg, #00e8ef, #00d8ff);
    border-image-slice: 1;

    & p {
      color: #00e8ef;
    }

    & .st0 {
      fill: #00e8ef;
    }
  }
}

.menu__popup-link-active {
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(135deg, #00e8ef, #00d8ff);
  border-image-slice: 1;

  & p {
    color: #00e8ef;
  }

  & .st0 {
    fill: #00e8ef;
  }

}

.main__index{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 50px;
}

.main__portfolio {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

.main__portfolio-content {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
}

.number__img {
  position: absolute;
  bottom: -6px;
  left: 16%;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.slide__menu-btn{
  flex: 150;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.main__index-content{
  flex: 1140;
  padding-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &2{
    padding-right: 210px;
  }

  &5 {
    padding-left: 18%;
  }
}


.title__index{
  font-family: 'ProximaNova-Black';
  font-size: 11vw;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  padding: 0;
  margin: 0;

  &-black{
    color: #131313;
    text-align: right;
  }

  &-3 {
    color: #4a4a4a;
    text-align: right;
    margin-right: 7%;
    font-size: 132px;
  }

  &-4 {
    margin-bottom: 15px;
  }

  &-5 {
    color: #4a4a4a;
  }
}

.main__index-socials{
  flex: 150;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;

  & a{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.7px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 120px;
    display: block;
    -moz-transform: rotate(90deg); /* ��� Firefox */
    -ms-transform: rotate(90deg); /* ��� IE */
    -webkit-transform: rotate(90deg); /* ��� Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* ��� Opera */
    transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &-black{
    & a{
      color: black;
    }
  }
}

.sec__index-socials {
  position: fixed;
  top: 50vh;
  right: 2%;
  transform: translateY(-50%);

  & a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.7px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 120px;
    display: block;
    -moz-transform: rotate(90deg); /* ��� Firefox */
    -ms-transform: rotate(90deg); /* ��� IE */
    -webkit-transform: rotate(90deg); /* ��� Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* ��� Opera */
    transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &-black {
    & a {
      color: black;
    }
  }
}

.sec__nav {
  position: fixed !important;
  top: 50vh;
  left: 2%;
  transform: translateY(-50%);

}

.index__textblock{
  width: 43%;
  margin-left: auto;
  margin-top: 60px;
}

.index__logoblock {
  margin-left: auto;
  margin-right: 7%;
  margin-top: 35px;
  margin-bottom: 45px;
  width: 44%;
  display: flex;
  flex-flow: row wrap;
}

.index__logo {
  flex: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    font-size: 20.5px;
    text-align: center;
    color: #eeeeee;
  }
}

.index__process {
  text-align: right;
  margin-bottom: 72px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.bottom__overlay {
  position: absolute;
  bottom: -20px;
  z-index: 1;
  opacity: 0.5;

  & img {
    width: 100%;
    height: auto;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
}

.contact__header {
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-align: left;
  color: #ffffff;
}

.contact__appear {
  font-style: normal;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin-top: 20px;
}

.contact__city, .contact__tel, .contact__email {
  font-style: normal;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #dedede;
}

.contact__city {
  margin-top: 25px;
}

.contacts__block {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts__form {
  width: 70%;
}

.contacts__form-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.7px;
  color: #ffffff;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-flow: row wrap;
}

.form-group {
  position: relative;
  flex: 50%;

  & input, textarea {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #999999;

  }
}

.form-group-textarea {
  flex: 100%;
  margin-top: 50px;
}

.form-control, .form-label, .form-control-textarea {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #ababab;
  transition: all 0.5s;
}

.form-control {
  width: 70%;
}

.form-label {
  position: absolute;
  left: 0;
}

.textarea-label {
  position: absolute;
  left: 0;
  bottom: 61px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #ababab;
}

.form-control-textarea {
  width: 80%;
}

.form-control:valid + label, .form-control:focus + label {
  font-size: 10px;
  bottom: 15px;
}

.form-control-textarea:valid + label, .form-control-textarea:focus + label {
  font-size: 10px;
}

::-webkit-input-placeholder {
  color: #ababab !important;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #ababab !important;
}

:-ms-input-placeholder {
  color: #ababab !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: #ababab !important;
}

.form__submit {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ffffff;
  border: solid 2px #ffffff;
  background: transparent;
  padding: 8px 32px;
  margin-top: 15px;
}

.cmn-toggle-switch {
  position: absolute;
  color: white;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 108px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 4;
  margin-bottom: 10vh;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch-white {

  & span {
    background: black !important;

    &::before {
      background-color: black !important;
    }

    &::after {
      background-color: black !important;
    }
  }
}

.active > span {

  &::before {
    background-color: white !important;
  }

  &::after {
    background-color: white !important;
  }

}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 45px;
  left: 50px;
  right: 18px;
  height: 3px;
  background: white;
  border-radius: 3px;
  z-index: 4;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  border-radius: 3px;

}

.cmn-toggle-switch span::before {
  top: -12px;
  width: 85%;
}

.cmn-toggle-switch span::after {
  bottom: -12px;
  width: 60%;
}

/**
* Стиль 2
*
* «Гамбургер» превращается в «x» (класс htx).
* Берется исходное состояние, затем полоски плавно перемещаются в центр
* и трансформируются в «x».
*/
.cmn-toggle-switch__htx {
  background-color: transparent;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

/* активное состояние, т.е. меню открыто */
.cmn-toggle-switch__htx.active {
  background-color: transparent;
}

.cmn-toggle-switch__htx.active span {
  background: none !important;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
  width: 110%;
}