///// portfolio-item

.firstscreen__portitem {

  background-size: cover !important;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-bottom: 20vh;
  position: relative;
  margin-bottom: 20px;

  @include phones {
    padding-bottom: 0;
  }

  &-qualie {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/qualie/fs_qualie.jpg") no-repeat center;
  }

  &-artist {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/artist/8-1.jpg") no-repeat center;
  }

  &-contador {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/contador/6-1.png") no-repeat center;
  }

  &-yoga {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/yoga/4-1.jpg") no-repeat center;
  }

  &-doors {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/doors/7-1.png") no-repeat center;
  }

  &-frez {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/demo_frez.jpg") no-repeat center;
  }

  &-styler {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/styler/20-00-redesign.jpg") no-repeat center;
  }

  &-hack {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/hackathon/32-1.png") no-repeat center;
  }

  &-hromadske {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/news_website1/17-1.png") no-repeat center;
  }

  &-easy {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/online_platform/22-1.jpg") no-repeat center;
  }

  &-insider {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/insider/16-1.jpg") no-repeat center;
  }

  &-deviq {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/dev_iq/deviq.png") no-repeat center;
  }

  &-banda {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/banda/12-1.png") no-repeat center;
  }

  &-cro777fit {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/cro777fit/9-1.png") no-repeat center;
  }

  &-royal {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/corpstyle1/19-1.jpg") no-repeat center;
  }

  &-emo1 {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/emoji_app/28-1.png") no-repeat center;
  }

  &-emo2 {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/emoji_calc/31-1.png") no-repeat center;
  }

  &-event {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/event/26-1.png") no-repeat center;
  }

  &-fyblab {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/fyblab/14-3.jpg") no-repeat center;
  }

  &-guna {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/guna/3-1.png") no-repeat center;
  }

  &-info {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/infographics/27-1.jpg") no-repeat center;
  }

  &-logo {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/logo/5-1.png") no-repeat center;
  }

  &-mirrow {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/mirrow/feed.png") no-repeat center;
  }

  &-messenger {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/messenger/01_main.png") no-repeat center;
  }

  &-music {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/music/15-1.png") no-repeat center;
  }

  &-organizer {
    background: linear-gradient(21deg, rgba(0, 0, 0, 0.53) 8%, #000000 83%), url("../img/organizer") no-repeat center;
  }
}

.portitem__title {
  font-family: 'ProximaNova-Bold';
  padding: 0;
  margin: 0;
  font-size: 10vw;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.portitem__descr {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
}

.portitem__stuff {

  padding: 0 7% 0 9%;

  @include phones {
    padding: 0;
  }

}

.main__stuff {
  display: flex;
  flex-direction: row;

  @include phones {
    flex-direction: column;
  }
}

.main__stuff-info {
  flex: 384;
  display: flex;
  flex-direction: column;
  padding: 25px 3% 40px 0;

  @include phones {
    padding: 10px 7% 20px;
    background-color: #f6f6f6;
  }
}

.site__title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #343434;
  margin-bottom: 10px;
}

.site__descr {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #787878;
}

.sitelink {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #d0021b;
}

.main__stuff-img {

  flex: 845;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }

}

.ur__block {
  margin-top: auto;
}

.ur__block-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #343434;
  margin-bottom: 5px;
}

.ur__block-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #555555;
}

.ui__stuff {
  display: flex;
  flex-direction: row;
  position: relative;

  @include phones {
    flex-direction: column;
  }
}

.ui__text-cont {
  flex: 384;
  padding: 25px 3% 40px 0;

  @include phones {
    padding: 0;
  }
}

.ui__text {
  position: absolute;
  top: 0;
  width: 25vw;

  @include phones {
    position: relative;
    width: 100%;
    padding: 10px 7% 20px;
    background-color: #f6f6f6;
  }
}

.ui__text-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #343434;
}

.ui__text-content {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #555555;
}

.ui__img {
  flex: 845;
  display: flex;
  flex-flow: row wrap;

}

.ui__img-cont {
  flex: 41%;
  margin-right: 1%;
  margin-bottom: 1vh;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }

  @include phones {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.landing__stuff {
  display: flex;
  flex-direction: row;
  position: relative;

  @include phones {
    flex-direction: column;
  }
}

.landing__text-cont {

  flex: 384;
  padding: 25px 3% 40px 0;

  @include phones {
    background-color: #f6f6f6;
    padding: 30px 7% 30px;
  }
}

.landing__text {
  position: absolute;
  top: 20%;
  width: 25vw;

  @include phones {
    position: relative;
    width: 100%;

  }
}

.landing__text-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #343434;
}

.landing__text-content {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #555555;
}

.landing__img {
  flex: 845;

  & img {
    width: 100%;
    height: auto;
  }

}

.moreworks__block {
  padding: 0 7% 40px 9%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  @include phones {
    flex-direction: column;
    padding: 0 5% 40px 5%;
  }
}

.moreworks__text {
  flex: 384;
  padding: 25px 3% 40px 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #343434;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include phones {
    justify-content: center;
  }
}

.moreworks__pics {
  flex: 845;
  display: flex;
  flex-direction: row;
}

.moreworks__links {
  flex: 32%;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }

  @include phones {
    flex: 48%;
    margin: 0 1%;
  }
}
